.settings{
    display: flex;
    padding: 10px;
}
.settingsWrapper{
    flex:9;
}

.settingsTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsTitleUpdate {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingsTitleDelete {
    color: red;
    font-size: 12px;
    cursor: pointer;
}
  
.settingsForm {
    display: flex;
    flex-direction: column;
}

.settingsPP{
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.settingsImg{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}

.settingsPPButton:focus {
    outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.settingsPPInput {
  width: 30%;
  font-size: 20px;
}

.settingsForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmitButton {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsSubmitButton:hover {
  background-color: rgb(1, 114, 114);
}